DATABASE_URL="postgresql://postgres:VeUYLto2bSA01gic@db.coakqansosybyvcwnnjc.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://coakqansosybyvcwnnjc.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvYWtxYW5zb3N5Ynl2Y3dubmpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTE3NTgwNjMsImV4cCI6MTk2NzMzNDA2M30.P5YGOcfia5tgQBKYIAVBx1PrXriDic5F1oNyDBA77U8"